<!--<div class = "container">
    <div class="wrapper">
        <form name="Login_Form" class="form-signin" #form="ngForm" (submit)="loginTD(form)">
            <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
            <hr class="colorgraph"><br>

            <input type="text" class="form-control" name="username" placeholder="Username" required ngModel #username="ngModel" />
            <input type="password" class="form-control" name="password" placeholder="Password" required ngModel #password="ngModel"/>

            <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
        </form>
    </div>
</div>

<hr/>-->

<div class = "container">
    <div class="wrapper">
        <form class="form-signin" [formGroup]="signinForm" (submit)="loginRF()">
            <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
            <input type="email" class="form-control" formControlName="email"  placeholder="Email Address" />
            <input type="password" class="form-control" formControlName="password" placeholder="Password"/>
            <div *ngIf="signinForm.get('email').getError('required')"
            >
                error
            </div>
            <button class="btn btn-lg btn-primary btn-block" value="Login" type="submit" [disabled]="!signinForm.valid">Login</button>
        </form>
    </div>
</div>